<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chapter-7 Assignment</title>

</head>
<body>
    <div class="left-box"></div>
    <div class="right-box"></div>
    <h1> hello baccha miss you🙈🙈🙈 😒😒</h1>
    <form action="/analyze" method="get">
        <textarea style=" margin:0px,width:721px,height:93px"></textarea><br>
        <input type="checkbox" name="remove Punctuations">Remove Puncatations<br>
    
        <button type="submit">submit data</button>
    </form>

</body>
</html>